# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr
out/

# Build folder
build/
out/

# User-specific stuff
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/dbnavigator.xml

# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

# Project-specific temporary files and directories
*.log

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V
